{{!-- It was borrowed from https://www.grahamcluley.com/page-46-apples-new-ios-agreement-funny-fake-makes-serious-point/ --}}

<div class="card" style="border-color: dodgerblue; width: 800px;">
    <div class="card-header" style="background-color: dodgerblue; color: white;">
        <h2>Oh you know what? This is page 46, nobody's still reading this. I bet only about five people clicked to read the
            T&amp;Cs in the first place - we might as well just say anything we like.</h2>
    </div>
    <div class="form-group">
        <div class="form-group col-md-12">
            <br>
            <p>Tony on floor 5 of Apple HQ smells of sardines.</p>
            <p>When someone sends a funny email around the offices we have to reply with iLaughed. It's in our job description.</p>
            <p>Remember that legal kerfuffle over Apple &amp; Apple studios? Want to know how we fixed it? We bought The Beatles.
                We have the surviving ones come and sing to us for scraps. We're looking at ways to reanimate the dead ones.</p>
            <p>The canteen only sells apple products. Apples, apple juice, apple flapjacks, toffee apples. We get fired if we're
                caught eating anything without apples in it. I'M ALLERGIC TO APPLES AND I'M ALWAYS HUNGRY.</p>
            <p>We faked the moon landings. Did it in 2008, then brainwashed you all to believe it happened in 1969, just because
                we could. If anyone finds out I've leaked this information, I'll be killed. But no one will ever, ever read
                this.</p>
        </div>
    </div>
</div>